{% extends 'base.html' %}
{% block content %}

<div>
    <img src="{{MEDIA_URL}}{{product.image}}" alt="" width="200" height="250">
    <div class="caption">
        <p><b>{{product.name}}</b> - {{ product.stock }} in stock</p>
        <p>{{product.brand}}</p>
        <h4>€{{product.price}}</h4>
        <p>{{ product.description }}</p>
    </div>
</div>

<hr>

<h2>Reviews</h2>

<hr>
{% if user.is_authenticated %}
<form method="POST" action="{% url 'write_reviews' product.id %}">
    {% csrf_token %}
    {{ form.as_p }}
    
    <input type="submit" value="Submit"/>
</form>
{% endif %}

<hr>

<div>
    {% for review in product.reviews.all|dictsortreversed:'created_date' %}
    
    
    <h3>{{ review.title }} - <i>{{ review.author }}</i></h3>
    <p>{{ review.rating }}</p>
    <p>{{ review.content }}</p>
    {{ review.product }}
    <hr>
    
    {% endfor %}
    
</div>





{% endblock %}